<div class="f-clear"></div>
<div class="contact-form">
  <h1>Contact Us</h1>
  <p>Please fill out the form below and we'll get back to you as soon as we can.</p>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'form' %>
    </div>
  </div>
</div>
