<div class="f-clear"></div>
<div class="assign">
  <h1>Edit assignment</h1>

  <%= render 'form' %>

  <%= link_to 'Show', admin_assignment_path %> |
  <%= link_to 'Back', admin_assignments_path %>
</div>
