// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******* GLOBAL *******/
html, body {
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #fff;
}




/******* NAVBAR *******/

.navbar-inner {
  background-color: #fff; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  height: 50px;
}

.navbar-inner .brand {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 5px;
  color: #444;
}

.navbar-inner .nav {
  font-size: 1.1em;
  margin-top: 5px;
}



/******* HEADER *******/

.header {
  display: table;
  height: 400px;
  width: 100%;
  top: -10px;
  position: relative;
  background: url(../assets/desk3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #555;
}

.header h3 {
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 3em;
  margin-top: 150px;
}

.headernav {
  margin: 0 auto;
  text-align: center;
}

.header a {
  position: relative;
  padding: 12px 70px;
  /*border: 1px solid #ddd;*/
  top: 40px;
  color: #444;
  font-size: 1.8em;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
}

.header a:hover {
  text-decoration: none;
  color: #333;
  background-color: rgba(255,255,255,0.9);
  transition: all 0.2s ease-in-out;
}



/******* INTRO *******/
.intro {
  width: 100%;
  height: 200px;
  background-color: #222;
  position: relative;
  top: -10px;
}

.desc {
  width: 70%;
  margin: 0 auto;
  top: 12px;
  position: relative;
}

.intro p {
  text-align: center;
  top: 30px;
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 200;
  line-height: 1.8em;
}

.intro h2 {
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: 200;
}



/******* INFO-1 *******/

.info-1 {
  width: 60%;
  position: relative;
  top: 100px;
  margin: 0 auto;
  display: block;
  height: 350px;
}

.info-1 img {
  float: left;
}

.info-content {
  float: right;
  width: 300px;
  margin-top: 10px;
}

.info-content p {
  color: #999;
  font-size: 1em;
  font-weight: 400;
}



/******* INFO-2 *******/

.info-2 {
  width: 60%;
  position: relative;
  top: 120px;
  margin: 0 auto;
  display: block;
  height: 200px;
}

.info-content2 {
  float: left;
  width: 300px;
  margin-top: 10px;
}

.info-content2 p {
  color: #999;
  font-size: 1em;
  font-weight: 400;
}

.info-2 img {
  float: right;
}



/******* INFO-3 *******/

.info-3 {
  width: 60%;
  position: relative;
  top: 240px;
  margin: 0 auto;
  display: block;
  height: 350px;
}

.info-3 img {
  float: left;
}

.info-content {
  float: right;
  width: 300px;
  margin-top: 10px;
}

.info-content p {
  color: #999;
  font-size: 1em;
  font-weight: 400;
}


/******* PLANS *******/

.plans {
  width: 100%;
  height: 600px;
  background-color: #333;
  top: 250px;
  position: relative;
}

.plans h1 {
  color: #fff;
  top: 60px;
  position: relative;
  font-size: 3em;
  font-weight: 200;
}

.pricing {
  position: relative;
  vertical-align: center;
  display: block;
  margin: 0 auto;
  top: 110px;
  width: 65%;
}

.p-column {
  height: 370px;
  border-radius: 0px;
  background-color: #eee;
  max-width: 220px;
}

.p-column:hover {
  /*-webkit-transition: box-shadow 0.3s;*/
  box-shadow: 0px 15px 10px -6px rgba(0,0,0,0.3);
  -webkit-transform: translate(-2px,-2px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.p-title {
  width: 100%;
  background-color: #222;
  top: -10px;
  position: relative;
  height: 70px;
  border-bottom: 3px solid #555;
  box-shadow: 0px 3px 10px  rgba(0,0,0,0.3);
  background-image: url('../assets/grid.png');
}

.p-title2 {
  width: 100%;
  background-color: #222;
  top: -10px;
  position: relative;
  height: 70px;
  border-bottom: 3px solid #eee;
  box-shadow: 0px 3px 10px  rgba(0,0,0,0.3);
  background-image: url('../assets/grid.png');
}

.p-title3 {
  width: 100%;
  background-color: #222;
  top: -10px;
  position: relative;
  height: 70px;
  border-bottom: 3px solid #e4c360;
  box-shadow: 0px 3px 10px  rgba(0,0,0,0.3);
  background-image: url('../assets/grid.png');
}

.pricing h2 {
  font-weight: 200;
  top: 15px;
  position: relative;
  color: #333;
}

.pricing h3 {
  font-weight: 600;
  position: relative;
  margin-top: 100px;
  font-size: 4.5em;
  background-clip: text;
  color: #444;
  text-shadow: 0px 2px 3px #fff;
}

.pricing h4 {
  font-weight: 200;
  margin-top: 12px;
  position: relative;
  margin-bottom: 15px;
}




/******* CONTACT *******/

.contact {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fff;
  top: 250px;
}

.contact p {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  color: #333;
  position: relative;
  top: 100px;
}

.contact-btn {
  margin: 0 auto;
  text-align: center;
}

.contact-btn a {
  position: relative;
  padding: 12px 70px;
  border: 3px solid #555;
  top: 40px;
  color: #555;
  font-size: 1.8em;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  top: 140px;
}

.contact-btn a:hover {
  border: 3px solid #111;
  color: #111;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0,0,0,0.1);
}



/******* FOOTER *******/

footer {
  width: 100%;
  height: 130px;
  background-color: #333;
  top: 240px;
  position: relative;
}

footer p {
  color: #eee;
  text-align: center;
  position: relative;
  top: 50px;
  font-weight: 200;
  font-size: 1.2em;
}

footer p:last-child {
  color: #888;
  font-size: 1.1em;
}








/******* SIGN UP *******/

.signup {
  position: absolute;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  font-weight: 200;
  left: 25%;
  color: #444;
  top: 70px;
}

.signup h2 {
  font-weight: 400;
  color: #444;
}

.signup h3 {
  font-weight: 200;
  font-size: 1.5em;
  color: #444
}

.signup-left {
  float: left;
}

.signup-right {
  float: right;
}

.signup-btn {
  clear: both;
  margin: 0 auto;
  text-align: center;
  float: right;
}

.f-clear {
  position: relative;
  height: 300px;
  clear: both;
  /*background-color: #222;*/
}






/******* CONTACT FORM *******/


.contact-form {
  position: absolute;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  font-weight: 200;
  left: 25%;
  color: #444;
  top: 75px;

}

.contact-form h1 {
  font-weight: 200;
  color: #444;
  margin-bottom: 20px;
}

.contact-form p {
  font-weight: 200;
  font-size: 1.2em;
  color: #444;
  margin-bottom: 20px;
}

.contact-form-c {
  position: relative;
  left: 12px;
}






/******* SIGN IN *******/

.links {
  color: #444;
}

.signin-form {
  position: absolute;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  font-weight: 200;
  left: 25%;
  color: #444;
  top: 75px;

}

.signin-form h2 {
  font-weight: 200;
  color: #444;
  margin-bottom: 20px;
}

.signin-form a {
  color: #888;
}

.signin-btn {
  margin-top: 5px;
}





/******* ACCOUNT SETTINGS *******/

.acct {
  position: absolute;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  width: 680px;
  font-weight: 200;
  left: 20%;
  color: #444;
  top: 70px;
}

.a-clear {
  height: 70px;
}

.acct h2 {
  font-weight: 200;
  color: #444;
}

.acct h3 {
  font-weight: 200;
  color: #444;
  margin-bottom: 0px;
}

.acct-left {
  float: left;
}

.acct-right {
  float: right;
}




/******* ASSIGNMENTS *******/

.assign {
  width: 80%;
  color: #444;
  margin: 0 auto;
  top: -280px;
  position: relative;
  font-weight: 200;
}

.assign h1 {
  font-weight: 200;
  color: #444;
}



/******* CONTACT-CREATE *******/

.contact-c {
  text-align: center;
  font-weight: 200;
}

.contact-c h1 {
  font-weight: 200;
  color: #444;
}

.contact-c p {
  font-size: 1.6em;
  color: #888;
  top: 5px;
  position: relative;
}

.cc-clear {
  height: 130px;

}








