<h1>Your journey begins now.</h1>
  <br>
  <h4>You've taken the first step towards becoming a Ruby on Rails Developer.</h4>
  <br>
  <h4>Click <a href="/assignments">here</a> to access the course content.</h4>





